<div class="col-lg-12 ">
    <div class="card border border-primary card-main">
        <div class="card-header bg-primary border-primary">
            <h5 class="my-0 text-white"><i class="mdi mdi-bullseye-arrow mr-3"></i>Danh sách thư liên hệ</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row mb-2">
                                <div class="col-sm-4">
                                    <div class="search-box me-2 mb-2 d-inline-block">
                                        <div class="position-relative">
                                            <input type="text" class="form-control" placeholder="Search..." />
                                            <i class="bx bx-search-alt search-icon"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="text-sm-end">
                                        <button type="button" class="btn btn-danger btn-rounded mb-2 mr-2 me-2">
                                            <i class="mdi mdi-delete me-1"></i> Delete All
                                        </button>
                                        <button type="button" class="btn btn-success btn-rounded mb-2 mr-2"
                                            (click)="addNewModal()">
                                            <i class="mdi mdi-plus me-1"></i> New Mail
                                        </button>
                                    </div>
                                </div>
                                <!-- end col-->
                            </div>
                            <div class="table-responsive">
                                <table class="table table-bordered align-middle table-nowrap">
                                    <thead>
                                        <tr>
                                            <th width="25px" class="center">
                                                <input id="customCheck" type="checkbox" class="form-check-input" />
                                            </th>
                                            <th width="60px" class="center">
                                                Trạng thái
                                            </th>
                                            <th>
                                                Nội dung liên hệ / Địa chỉ người liên hệ
                                            </th>
                                            <th width="70px" class="center">
                                                Ngày liên hệ
                                            </th>
                                            <th width="100px" class="center">
                                                Thông tin liên hệ
                                            </th>
                                            <th width="70px" class="center">
                                                Người duyệt
                                            </th>
                                            <th width="200px" class="center">
                                                Cập nhật trạng thái / Xóa
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="form-check font-size-16">
                                                    <input id="customCheck" type="checkbox" class="form-check-input" />
                                                    <label class="form-check-label" for="customCheck">&nbsp;</label>
                                                </div>
                                            </td>
                                            <td class="center middle">
                                                <i class="mdi mdi-mail"></i>
                                            </td>
                                            <td class="middle">
                                                Mã thư liên hệ: <b>2</b>
                                                <br>
                                                Nội dung liên hệ:
                                                <b>Liên hệ đặt quảng cáo</b>
                                                <br>
                                                Địa chỉ khách liên hệ: <b>Bình Dương</b>
                                            </td>
                                            <td class="center middle">
                                                11/11/2015 00:00:00
                                            </td>

                                            <td> Tran Minh Quyen
                                                <br />
                                                09876543
                                                <br />
                                                tmquyenit@gmail.com
                                            </td>
                                            <td>
                                                <span class="badge bg-success font-size-12">
                                                    <i class="mdi mdi-star me-1"></i>
                                                    .rating
                                                </span>
                                            </td>
                                            <td class="text-center">
                                                <div class="dropdown" ngbDropdown placement="bottom-right">
                                                    <a href="javascript: void(0);" class="dropdown-toggle card-drop"
                                                        data-toggle="dropdown" ngbDropdownToggle aria-expanded="false">
                                                        <i class="mdi mdi-dots-horizontal font-size-18"></i>
                                                    </a>
                                                    <ul class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                                                        <li><a href="javascript: void(0);" class="dropdown-item"><i
                                                                    class="fas fa-pencil-alt text-success me-1"></i>
                                                                    Thư chưa đọc, đánh dấu lại</a></li>
                                                        <li><a href="javascript: void(0);" class="dropdown-item"><i
                                                                    class="fas fa-trash-alt text-danger me-1"></i>
                                                                    Xóa dữ liệu này</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr >
                                            <td colspan="7">
                                                <p class="text-center">Chưa có dữ liệu</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- pagination -->
                            <!-- <ngb-pagination [collectionSize]="50" [(page)]="currentpage"
                    class="pagination pagination-rounded justify-content-end mb-2" aria-label="Default pagination">
                  </ngb-pagination> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>