<div class="container-fluid">
  <div class="text-nowrap">
    <app-page-title [title]="'MenuItem.User.Children.AdminUser' | translate" class="d-inline-block"></app-page-title>
    <button type="button" class="btn btn-primary btn-sm float-end" (click)="back()">
      <i [class]="iconButton.BACK"></i> {{'System.Action.Back' | translate}}
    </button>
  </div>
  <div class="card" style="height: 100%;">
    <div class="card-body">
      <h4 class="card-title">{{'System.Action.Edit' | translate}}</h4>
      <form #form="ngForm" (submit)="save()">
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="mb-3">
              <label for="userName">Full Name</label>
              <input id="userName" name="userName" type="text" class="form-control"
                [(ngModel)]="employee.userName" required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="mb-3">
              <label for="userAccount">User Account</label>
              <input id="userAccount" name="userAccount" type="text" class="form-control"
                [(ngModel)]="employee.userAccount" required disabled>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="mb-3">
              <label for="password">Password</label>
              <input id="password" name="password" type="password" class="form-control"
                [(ngModel)]="employee.password" required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="mb-3">
              <label for="email">Email</label>
              <input id="email" name="email" type="email" class="form-control"
                [(ngModel)]="employee.email" required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="mb-3">
              <label for="validFrom">Valid From</label>
              <input class="form-control" placeholder="yyyy-mm-dd" id="validFrom" name="validFrom"
                [(ngModel)]="employee.validFrom" ngbDatepicker #validFrom="ngbDatepicker" required
                (click)="validFrom.toggle()">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="mb-3">
              <label for="validTo">Valid To</label>
              <input class="form-control" placeholder="yyyy-mm-dd" id="validTo" name="validTo"
                [(ngModel)]="employee.validTo" ngbDatepicker #validTo="ngbDatepicker" required
                (click)="validTo.toggle()">
            </div>
          </div>
        </div>
        <div class="d-flex flex-wrap gap-2 mt-2">
          <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
            <i [class]="iconButton.SAVE"></i>
            {{'System.Action.Save' | translate}}
          </button>
          <button type="button" class="btn btn-secondary" (click)="reset()">
            <i [class]="iconButton.RESET"></i>
            {{'System.Action.Reset' | translate}}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>