<div class="related-product grid-products">
    <header class="section-header">
        <h2 class="section-header__title text-center h2"><span>Recently Viewed Product</span>
        </h2>
        <p class="sub-heading">You can manage this section from store admin as describe in above
            section</p>
    </header>
    <div class="grid">
        <div class="grid__item">
            <div class="mini-list-item">
                <div class="mini-view_image">
                    <a class="grid-view-item__link" href="#">
                        <img class="grid-view-item__image" src="assets/images/product-images/product-image1.jpg" alt="">
                    </a>
                </div>
                <div class="details">
                    <a class="grid-view-item__title" href="#">Camelia Reversible Jacket</a>
                    <div class="grid-view-item__meta"><span class="product-price__price"><span
                                class="money">$199.60</span></span></div>
                    <div class="product-review">
                        <i class="font-13 fa fa-star"></i>
                        <i class="font-13 fa fa-star"></i>
                        <i class="font-13 fa fa-star"></i>
                        <i class="font-13 fa fa-star"></i>
                        <i class="font-13 fa fa-star"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid__item">
            <div class="mini-list-item">
                <div class="mini-view_image"> <a class="grid-view-item__link" href="#"><img
                            class="grid-view-item__image" src="assets/images/product-images/product-image42.jpg"
                            alt=""></a>
                </div>
                <div class="details"> <a class="grid-view-item__title" href="#">Cape Dress</a>
                    <div class="grid-view-item__meta"><span class="product-price__price"><span
                                class="money">$378.00</span></span></div>
                    <div class="product-review">
                        <i class="font-13 fa fa-star"></i>
                        <i class="font-13 fa fa-star"></i>
                        <i class="font-13 fa fa-star"></i>
                        <i class="font-13 fa fa-star-o"></i>
                        <i class="font-13 fa fa-star-o"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid__item">
            <div class="mini-list-item">
                <div class="mini-view_image"> <a class="grid-view-item__link" href="#"><img
                            class="grid-view-item__image" src="assets/images/product-images/product-image40.jpg"
                            alt=""></a>
                </div>
                <div class="details"> <a class="grid-view-item__title" href="#">Raglan Maniche
                        Coat in Olive</a>
                    <div class="grid-view-item__meta"><span class="product-price__price"><span
                                class="money">$278.60</span></span></div>
                    <div class="product-review">
                        <i class="font-13 fa fa-star"></i>
                        <i class="font-13 fa fa-star-o"></i>
                        <i class="font-13 fa fa-star-o"></i>
                        <i class="font-13 fa fa-star-o"></i>
                        <i class="font-13 fa fa-star-o"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid__item">
            <div class="mini-list-item">
                <div class="mini-view_image"> <a class="grid-view-item__link" href="#"><img
                            class="grid-view-item__image" src="assets/images/product-images/product-image46.jpg"
                            alt=""></a>
                </div>
                <div class="details"> <a class="grid-view-item__title" href="#">Riga Jacket in
                        Tar</a>
                    <div class="grid-view-item__meta"><span class="product-price__price"><span
                                class="money">$228.00</span></span></div>
                    <div class="product-review">
                        <i class="font-13 fa fa-star-o"></i>
                        <i class="font-13 fa fa-star-o"></i>
                        <i class="font-13 fa fa-star-o"></i>
                        <i class="font-13 fa fa-star-o"></i>
                        <i class="font-13 fa fa-star-o"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid__item">
            <div class="mini-list-item">
                <div class="mini-view_image"><a class="grid-view-item__link" href="#"><img class="grid-view-item__image"
                            src="assets/images/product-images/product-image45.jpg" alt=""></a>
                </div>
                <div class="details"> <a class="grid-view-item__title" href="#">Reversible
                        Quilted Coat</a>
                    <div class="grid-view-item__meta"><span class="product-price__price"><span
                                class="money">$199.00</span></span></div>
                    <div class="product-review">
                        <i class="font-13 fa fa-star-o"></i>
                        <i class="font-13 fa fa-star-o"></i>
                        <i class="font-13 fa fa-star-o"></i>
                        <i class="font-13 fa fa-star-o"></i>
                        <i class="font-13 fa fa-star-o"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid__item">
            <div class="mini-list-item">
                <div class="mini-view_image"><a class="grid-view-item__link" href="#"><img class="grid-view-item__image"
                            src="assets/images/product-images/product-image44.jpg" alt=""></a>
                </div>
                <div class="details"> <a class="grid-view-item__title" href="#">Reversible
                        Quilted Coat</a>
                    <div class="grid-view-item__meta"><span class="product-price__price"><span
                                class="money">$698.00</span></span></div>
                    <div class="product-review">
                        <i class="font-13 fa fa-star-o"></i>
                        <i class="font-13 fa fa-star"></i>
                        <i class="font-13 fa fa-star"></i>
                        <i class="font-13 fa fa-star"></i>
                        <i class="font-13 fa fa-star"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>