<div class="container-fluid">

  <app-page-title title="{{'Property.Size.Size' | translate}}"></app-page-title>
  
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-2">
            <div class="col-sm-4">
              <div class="search-box me-2 mb-2 d-inline-block">
                <div class="position-relative">
                  <input type="text" (input)="search($event)" class="form-control"
                    placeholder="{{'System.Action.Search' | translate}}..." />
                  <i class="bx bx-search-alt search-icon"></i>
                </div>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="text-sm-end">
                <button type="button" class="btn btn-success btn-rounded mb-2 mr-2" [routerLink]="['/properties/size/add']">
                  <i class="mdi mdi-plus me-1"></i> {{'System.Action.AddNew' | translate}}
                </button>
              </div>
            </div>
            <!-- end col-->
          </div>
          <div class="table-responsive">
            <table class="table table-striped align-middle table-nowrap">
              <thead class="table-light">
                <tr>
                  <th>#</th>
                  <th>{{'Property.Size.Size' | translate}}</th>
                  <th>{{'Property.Size.Bust' | translate}}</th>
                  <th>{{'Property.Size.Waist' | translate}}</th>
                  <th>{{'Property.Size.Hip' | translate}}</th>
                  <th>{{'Property.Size.Height' | translate}}</th>
                  <th>{{'Property.Size.Weight' | translate}}</th>
                  <th>{{'Property.Size.Description' | translate}}</th>
                  <th class="text-center">{{'Property.Size.Action' | translate}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of data ;let i = index;">
                  <th>{{(pagination.pageNumber - 1) * pagination.pageSize + i + 1}}</th>
                  <td>{{item.name | uppercase}}</td>
                  <td>{{item.bust}} cm</td>
                  <td>{{item.waist}} cm</td>
                  <td>{{item.hip}} cm</td>
                  <td>{{item.height}} cm</td>
                  <td>{{item.weight}} cm</td>
                  <td>{{item.description}}</td>
                  <td align="center">
                    <button class="btn btn-sm btn-warning btn-rounded me-1" [routerLink]="['/properties/size/edit', item.id]"><i
                        [class]="iconButton.EDIT"></i> {{'System.Action.Edit' | translate}}</button>
                    <button class="btn btn-sm btn-danger btn-rounded" (click)="delete(item)"><i
                        [class]="iconButton.DELETE"></i> {{'System.Action.Delete' | translate}}</button>
                  </td>
                </tr>
                <tr *ngIf="data?.length === 0">
                  <td colspan="100%" class="table-warning text-center font-weight-bold">
                    {{ "System.Message.Nodata" | translate }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- pagination -->
          <ngb-pagination *ngIf="pagination.totalPage > 1" [(page)]="pagination.pageNumber"
            [pageSize]="pagination.pageSize" [collectionSize]="pagination.totalCount" [boundaryLinks]="true"
            [maxSize]="5" (pageChange)="pageChanged($event)"
            class="pagination pagination-rounded justify-content-start mb-2" aria-label="Default pagination">
          </ngb-pagination>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>