<div id="page-content">
    <!--MainContent-->
    <div id="MainContent" class="main-content" role="main">
        <!--Breadcrumb-->
        <div class="bredcrumbWrap">
            <div class="container-fluid breadcrumbs">
                <a href="index.html" title="Back to the home page">Home</a><span
                    aria-hidden="true">›</span><span>Product Layout Style3</span>
            </div>
        </div>
        <!--End Breadcrumb-->

        <div id="ProductSection-product-template" class="product-template__container prstyle3 container-fluid">
            <!--#ProductSection-product-template-->
            <div class="product-single product-single-1">
                <div class="left-content-product">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                            <app-product-img></app-product-img>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                            <app-product-meta></app-product-meta>
                        </div>
                        <!--Product Tabs-->
                        <app-product-tab></app-product-tab>
                        <!--End Product Tabs-->
                    </div>
                </div>
                <!--End-product-single-->
                <!--Product Sidebar-->
                <div class="prSidebar sidebar-product">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <!--Product Feature-->
                        <app-product-feature></app-product-feature>
                        <!--End Product Feature-->
                        <!--Related Product-->
                        <app-product-related></app-product-related>
                        <!--End Related Product-->
                        <!--Recently Viewed Product-->
                        <app-product-recently></app-product-recently>
                        <!--End Recently Viewed Product-->
                    </div>
                </div>
                <!--Product Sidebar-->
            </div>
            <!--#ProductSection-product-template-->
        </div>
        <!--MainContent-->
    </div>
</div>

<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <div class="pswp__counter"></div><button class="pswp__button pswp__button--close"
                    title="Close (Esc)"></button><button class="pswp__button pswp__button--share"
                    title="Share"></button><button class="pswp__button pswp__button--fs"
                    title="Toggle fullscreen"></button><button class="pswp__button pswp__button--zoom"
                    title="Zoom in/out"></button>
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div><button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button><button
                class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>
    </div>
</div>