<div class="prFeatures">
    <div class="row">
        <div class="feature">
            <img src="assets/images/credit-card.png" alt="Safe Payment" title="Safe Payment" />
            <div class="details">
                <h5>Safe Payment</h5>Pay with the world's most payment methods.
            </div>
        </div>
        <div class="feature">
            <img src="assets/images/shield.png" alt="Confidence" title="Confidence" />
            <div class="details">
                <h5>Confidence</h5>Protection covers your purchase and personal data.
            </div>
        </div>
        <div class="feature">
            <img src="assets/images/worldwide.png" alt="Worldwide Delivery" title="Worldwide Delivery" />
            <div class="details">
                <h5>Worldwide Delivery</h5>FREE &amp; fast shipping to over 200+ countries &amp;
                regions.
            </div>
        </div>
        <div class="feature">
            <img src="assets/images/phone-call.png" alt="Hotline" title="Hotline" />
            <div class="details">
                <h5>Hotline</h5>Talk to help line for your question on 4141 456 789, 4125 666
                888
            </div>
        </div>
    </div>
</div>